<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1> 
      <p><small><%= pluralize(@user.microposts.count, "Post") %></small></p>
    </section>
    <section class="followify">
      <section>
        <%= render 'shared/stats' %>
        <%= render 'follow_form' if signed_in? %>
      </section>
    </section>
  </aside>
  <div class="span8">
    
    <% if @user.microposts.any? %>
    <h3><%= @user.name.possessive %> Posts:</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
